<!DOCTYPE html>
<html lang="en">
	<head>
   		<meta charset="utf-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    		<meta name="viewport" content="width=device-width, initial-scale=1">
    		<title>Dashboard</title>

    		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	</head>
  	<body>

		<div id="loading_screen" style="position: absolute;z-index: 2;width: 100%; height: 100%; background: white; opacity: 0.7;">

			<img src="http://c3stationery.com/images/ajax-loader.gif" alt="..." class="img-responsive center-block" />
			<p align="center" id="loading_status"></p>
		</div>
  	
  		<nav class="navbar navbar-default">
  			<div class="container-fluid">
    				<div class="navbar-header">
      					<a class="navbar-brand" href="#">Dashboard</a>
    				</div>
    				<ul class="nav navbar-nav">
    				</ul>
				<p id="usb_path" style="margin-right: 5px" class="navbar-text navbar-right">Path</p>
  			</div>
		</nav>

		<div class="container">
    			<ul class="list-group" id="file_group">
    				<li class="list-group-item">
    					Filenames
    					<p style="float:right">
    						All upload
    						<input id="all_upload" type="checkbox"checked>
    						All resize
    						<input id="all_resize" type="checkbox">
    					
    					</p>
    				</li>
    			</ul>

			<ul class="list-group">
				<li class="list-group-item">
					<input id="enable_resize" type="checkbox">
					<b>Resize enable</b>
					
					<p style="float: right">
						X: <input id="resize_x">
						Y: <input id="resize_y">
					</p>
				</li>
			</ul>
    			
    			<button id="upload" type="button" class="btn btn-success btn-lg">Upload!</button>
			<input id="authorization_key" type="input"></input>
    			<button id="setup_dropbox" type="button" class="btn btn-warning btn-lg">Setup dropbox</button>
    			<br><br>
  		</div>
		
    		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
		<script src="https://unpkg.com/dropbox/dist/Dropbox-sdk.min.js"></script>
		<script>
			

			var socket;
			var files_length = 0;
			var mount_path;
			var array_data;
			var check_status = false;
			
			
			var main_upload_status;
			
  			$(function () {

				// getting the socket
    				socket = io();
				
				socket.emit('check_query', function(data) {
					if(data) {
						console.log("Send away the hash");
						socket.emit('parse_query', window.location.hash);
						socket.emit('check_token', function(data) {
							if(data) {
								alert("Authentication complete!");
							} else {
								alert("Something went wrong :( ");
							}
						});
					} else {
						console.log("No hash procedure");
					}
				});
				
				// check the usb mount and show loading
				check_usb_status(1);

				get_usb_files();

				setInterval(checkups, 500);
				
  			});

			function loading(display, text) {
				if(display) {
					console.log("Displaying loading...");
					$("#loading_screen").show();
					$('body').css({'overflow':'hidden'});
					$('html,body').scrollTop(0);
				} else {
					console.log("Removing loading...");
					$("#loading_screen").hide();
					$(document).unbind('scroll'); 
					  $('body').css({'overflow':'visible'});
				}
				
				$("#loading_status").text(text);
			}

			/*
 			 * Function: check_usb_status(display)
			 * Description: it checks the status of the usb (mounted?)
		  	 * @param display - show the loading when checking
			 */
			function check_usb_status(display) {
				if(display) {
					console.log("Showing loading page");// loading show
					loading(1, "Loading Page...");
				}
				 

				socket.emit('usb', "mount");
				socket.on('usb_mount', function(data) {
					console.log(data.path);
					if(data.stat == 1) {
						if(display) {
							console.log("Removing loading page");
							loading(0, "");
						}

						console.log("Everything okay...");
						$("#usb_path").text(data.path);
					} else {
						console.log("Something went wrong...");
						alert("Something went wrong, check if USB is inserted...");
					}
				});
			}
			
			/*
			 *  Function: get_usb_files()
			 *  Description: act upon the files we have on the usb
			 */
			function get_usb_files() {
							
				socket.emit('files', "get_files");
				socket.on('files', function(data) {
					array_data = data.array_data
					files_length = (data.array_data).length;					
					for(i=0; i < files_length; i++) {
						if(data.array_data[i] != "") {
							$("#file_group").append('<li class="list-group-item">' + data.array_data[i] + '<p style="float:right">Upload <input type="checkbox" id="all_upload'+ i + '"checked> Resize <input type="checkbox" id="all_resize'+ i + '"></p></li>');
						}
					}
				});
			}
			
		
			// as the all upload checkbox changes we change all the checkbox states
			$("#all_upload").change(function() {
				check_all("#all_upload", $("#all_upload").is(':checked'));
			});
			
			$("#all_resize").change(function() {
				check_all("#all_resize", $("#all_resize").is(':checked'));
			});
			
			/*
			 * Function: check_all(state)
			 * Description: set the state of all the checkboxes
			 * @param - state -> the state of all the checkboxes
			 */
			function check_all(begin_id, state) {
				//console.log(files_length);
				for(i=0; i < files_length; i++) {
					$(begin_id + i).prop('checked',state);
				}
			}
			
			$("#upload").click(function() {
			
				loading(1, "Starting upload...");			
			
				var upload_data = {
					main_upload_files : []
				};
				
				
				var resize_x = $("#resize_x").val();
				var resize_y = $("#resize_y").val();
				
				for(i=0; i < files_length; i++) {
					
					/* console.log(array_data[i]);
					$("#blurred_message").text("Working on: " + array_data[i]);
					console.log($("#all_upload" + i).is(':checked'));
					if($("#enable_resize").is(':checked')) {
						if(resize_x == "" || resize_y == "") {
							alert("Resize is empty, please give value");
							break;
						}
						console.log($("#all_resize" + i).is(':checked'));
						console.log(resize_x + "x" + resize_y);
					}
					console.log("\n"); */
					
					if($("#all_upload" + i).is(":checked")) {
						upload_data.main_upload_files.push(array_data[i]);
					}
				}
				
				if(upload_data.main_upload_files.length == 0) {
					alert("No files selected!");
					loading(0, "");
				} else {
				
					console.log(upload_data.main_upload_files);
				
					check_status = true;
				
					socket.emit('upload', upload_data);				
				}	
			});			
		
			$("#setup_dropbox").click(function() {
				console.log($("#authorization_key").html);
				socket.emit('get_dropbox_auth', function(data) {
					window.location = data;
				});
			
			});			
			
			function checkups() {
				//console.log("Checking...");
				if(check_status) {
					socket.emit('status', function(data) {
						if(main_upload_status != data.main_upload) {
							main_upload_status = data.main_upload;
							loading(1, main_upload_status);
							if(main_upload_status == "Finished") {
								check_status = false;
								alert("Upload finished, check your dropbox!");
								loading(0, "");
							}
						}
					});
				}
				
				//console.log(main_upload_status);
			}
			
		</script>			
	</body>
</html>
